$default-font: "OpenSansRegular", sans-serif;
$green: #19bd9a;
$bgGray: #f3f3f3;
$black: #333b46;
$logo: #fff;
$text: #81868e;
$share: #464646;
$darkgreen: #047378;
$indicators : #b2b3b3;
$placeholder: #a9a9a9;
// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1200px);
$gutter: $grid-gutter-width;
//xl: 1140px;
//lg: 960px;


